* {
    box-sizing: border-box;
    margin: 0;
}


.box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #f6f5f5;
}

input {
    background-color: #d3e0ea;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 13px;
    outline: none;
    color: #276678;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px #1687a7;
}

.item {
    margin: 10px;
    display: inline-block;
    border: 1px solid #d3e0ea;
    color: #1687a7;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0.5px 0.5px 1px #276678;
}